//變數
@import 'base';




#noticeModal{
    h2{
        font-size: 21px;
        font-weight: 700;
        color: #ef2827;
        padding-bottom: 10px;
        border-bottom: solid 1px #dfdfdf;
    }
    ul.notice{
        padding-left: 15px;
        li{
            list-style-type: decimal;
        }
    }
}

#gameModal{
  .modal-content{
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    -webkit-border:none;
  }
  button.close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    background-color: #fff;
    color: #666;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(#000,.3);
  }
}
.gamemain {
  background: url(../img/game/bg.png) no-repeat center bottom;
  background-size: 100% auto; 
  max-width: 768px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  .tittle{
    margin-bottom: 50px;
    text-align: center;
  }
}
.game {
  position: relative;
  width: 90%;
  margin: 0 auto;
  &__arrow {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    z-index: 10;
    text-align: center;
  }
  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 30%;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    background: linear-gradient(#e85c5f, #c32629);
    box-shadow: 6px 6px 2px rgba(#000,.2); 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    z-index: 10;
    @include breakpoint(s) {
      box-shadow: 3px 3px 2px rgba(#000,.2); 
    }
    &:focus {
      box-shadow: 6px 6px 2px rgba(#000,.2); 
      @include breakpoint(s) {
        box-shadow: 3px 3px 2px rgba(#000,.2); 
      }
    }
    &:hover {
      background: linear-gradient(#e85c5f, #c32629);
      text-decoration: none;
    }
    &:active {
      background: linear-gradient(#e85c5f, #c32629);
      text-decoration: none;
      transform: translate(-50%,-48%);
      box-shadow: 4px 4px 2px rgba(#000,.3); 
      @include breakpoint(s) {
        box-shadow: 2px 2px 2px rgba(#000,.2); 
      }
    }
    &--text {
      color: #fff;
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 0;
      letter-spacing: 3px;
      @include breakpoint(m) {
        font-size: 6vw;
      }
    }
  }
  .boxman{
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: -100px;
      img{
        @include breakpoint(m) {
          width: 50%;
        }
      }
  }
}
//獎品燈箱
#game__modal {
  .modal-content{
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    -webkit-border:none;
  }
  .modal-body {
    padding: 0;

    .hand{
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(center);
      @include align-items(center);
    }

    .final-btn{
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include justify-content(center);
      @include align-items(center);
    }
  }
  .modal__link {
    display: block;
  }
  p{
    font-size: 23px;
    max-width: 210px;
    left: 50%;
    top: 48%;
    margin-top: -32px;
    margin-left: -105px;
    color: #3c2f2f;
    font-weight: bold;
    @include breakpoint(s) {
      font-size: 18px;
      max-width: 210px;
      left: 50%;
      margin-left: -105px;
    }
    @include breakpoint(es) {
      font-size: 18px;
       max-width: 170px;
       left: 50%;
      margin-left: -82px;
    }
  }
  button.close {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    background-color: #fff;
    color: #666;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(#000,.3);
  }
}





