//變數
@import 'base';



#section_02{
    background-color: transparent;
    visibility: visible;
    padding: 15px 0 120px 0;
    position: relative;
    @include breakpoint(s){
        background: url(../img/bg_m2.jpg) no-repeat center top;
        background-size: 100% auto;
        padding: 0 0 120px 0;
    }
    .tentm{
        position: relative;
        @include breakpoint(s){
            top: -15px;
        }
        #myCarousel-Am{
            display: none;
            @include breakpoint(s){
                position: absolute;
                margin: 0 auto;
                bottom:0px;
                left: 10%;
                width: 80%;
            }
        }
    }    

    .container{
        position: relative;
        max-width: 1100px;
        .row{
            @include breakpoint(s){
                padding: 0 1%;
            }

            .bankbg{
                position: absolute;
                width: 100%;
                left: 0;
                top:0;
            }
            .bankbox{
                position: relative;
                z-index: 10;
                padding: 15px 20px 20px 20px;
                @include breakpoint(s){
                    padding: 10px;
                    border-radius: 10px;
                    background-color:#009fe8; 
                    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27), inset 0 0 5px 1px rgba(255,255,255,0.48);
                    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27), inset 0 0 5px 1px rgba(255,255,255,0.48);
                    box-shadow: 0 0 6px rgba(0,0,0,0.27), inset 0 0 5px 1px rgba(255,255,255,0.48);
                    border-top: 2px solid #0980b6;
                    border-bottom: 2px solid #0980b6;
                }
                ul{
                    @include flexbox();
                    @include flex-direction(row);
                    @include flex-wrap(wrap);
                    @include justify-content(center);
                    @include align-items(flex-start);
                    margin: 0;
                    li{
                        width: 25%;
                        padding:5px;
                        text-align: center;
                        @include breakpoint(s){
                            width: 50%;
                        }
                        &:nth-child(1), &:nth-child(2), &:nth-child(9){
                            width: 50%;
                            @include breakpoint(s){
                                width: 100%;
                            } 
                        }
                        img{
                            width:100%;
                        }
                    }
                }
            }
    }
    }
}



