<!DOCTYPE html>
<html>

<head>
  <title>Todo 範例製作</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="all.css">
  <script src="vendor.js"></script>

</head>

<body class="bg-lighter">

  <div class="container my-5">
    <div class="row">

      <div class="col-md-12 post">
        <!-- 練習開始 -->
        <h1 class="mt-0 text-muted">Todo 範例製作</h1>

        <div id="app">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">待辦事項</span>
            </div>
            <input type="text" class="form-control" placeholder="準備要做的任務" @keyup.enter="addTodo" v-model="newTodo">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" @click="addTodo">新增</button>
            </div>
          </div>

          
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">

                <li class="nav-item">
                  <a class="nav-link" :class="{'active' :visibility=='all'}" @click="visibility='all'" href="#">全部</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" :class="{'active':visibility=='progress'}" @click="visibility='progress'"
                    href="#">進行中</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" :class="{'active':visibility=='completed'}" @click="visibility='completed'"
                    href="#">已完成</a>
                  <!-- <a class="nav-link" :class="{'active':visibility=='completed'}" @click="filterTodos(completed)" href="#">已完成</a>失敗因為computed不是個function -->
                </li>

              </ul>
            </div>


            <ul class="list-group list-group-flush text-left">
              <li class="list-group-item" v-for="(item, key) in filterTodos" @dblclick="editorTodo(item);focus()">
                <div class="d-flex" v-if="cacheTodo.id !== item.id">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" v-model="item.completed" :id="item.id">
                    <label class="form-check-label" :for="item.id" :class="{'completed' : item.completed}">
                      {{item.title}}
                    </label>
                  </div>
                  <button type="button" class="close ml-auto" aria-label="Close" @click="removeTodo(item)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <input v-if="cacheTodo.id === item.id" type="text" class="form-control" @keyup.esc="cancelTodo"
                  @keyup.enter="doneTodo(item)" v-model="cacheTitle" ref="test" id="focus">
              </li>
            </ul>

            <div class="card-footer d-flex justify-content-between">
              <span v-if="visibility=='all'">總共有 {{unfinishCount}} 筆任務</span>
              <span v-else-if="visibility=='progress'">還有 {{unfinishCount}} 筆任務未完成</span>
              <span v-if="visibility=='completed'">已完成 {{finishCount}} 筆任務</span>
              <a href="#" @click="cleanAll">清除所有任務</a>
            </div>
          </div>

        </div>
        <script>
          var app = new Vue({
            el: '#app',
            data: {
              newTodo: '',
              visibility: 'all',
              todos: [{
                id: 001,
                title: 'Hello World',
                completed: false
              }],
              cacheTodo: [],
              cacheTitle: '',
              query: '',
              unfinishCount: 0,
              finishCount: 0
            },
            methods: {
              addTodo() {
                //方法一 避免使用者輸入空白資料
                if (!this.newTodo.trim()) {
                  return;
                }
                this.todos.push({
                  id: Math.floor(Date.now()),
                  title: this.newTodo,
                  completed: false
                })
                this.newTodo = "";
              },
              removeTodo(item) {
                //方法一
                var newIndex = ""; 
                this.todos.forEach(function (item2, key) {
                  if (item2.id === item.id){
                    newIndex = key;
                  }
                });
                this.todos.splice(newIndex, 1);

                //方法二
                // var key = this.todos.findIndex(function (foreachItem) {
                //    return item.id === foreachItem.id;
                // });
                // this.todos.splice(key, 1);
                
              },
              editorTodo(item) {
                // console.log(item);
                this.cacheTodo = item;
                this.cacheTitle = item.title;
                //this.$refs.test.focus();

              },
              cancelTodo() {
                this.cacheTodo = {};
              },
              doneTodo(item) {
                item.title = this.cacheTitle;
                this.cacheTitle = '';
                this.cacheTodo = {};
              },
              cleanAll() {
                this.todos = [];
              },
              focus: function () {
                //setTimeout(function(){ 
                document.getElementById('focus').focus()
                //}, 100);
              }
            },
            computed: {
              filterTodos(action) {
                var tempTodos = [];
                if (this.visibility == 'all') {
                  this.todos.forEach(function (item) {
                    tempTodos.push(item);
                  });
                    this.unfinishCount = tempTodos.length;
                } else if (this.visibility == 'progress') {
                  this.todos.forEach(function (item) {
                    if (!item.completed)
                      tempTodos.push(item);
                  });
                  this.unfinishCount = tempTodos.length;
                } else if (this.visibility == 'completed') {
                  this.todos.forEach(function (item) {
                    if (item.completed)
                      tempTodos.push(item);
                  });
                  this.finishCount = tempTodos.length;
                }
                return tempTodos;
              }
            }

          });
        </script>

        <style>
          .completed {
            text-decoration: line-through
          }
        </style>

      </div>
    </div>
  </div>
</body>

</html>